# Node modules
node_modules/

# Entornos y logs
.env
*.log

# Directorios de uploads (fotos de publicaciones)
src/public/assets/publicaciones/
src/public/assets/perfil/

# Configs editoriales
.vscode/
.idea/

# Otros (opcional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
