# Node modules
node_modules/

# Entornos y logs
.env
*.log

# Directorios de uploads (fotos de publicaciones)
public/assets/publicaciones/

# Configs editoriales
.vscode/
.idea/

# Otros (opcional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
